<div class="relative group border-b w-full p-2 select-none transition-all hover:shadow-md shadow-black mb-1"
    [ngClass]="isSelected? 'bg-slate-300 hover:bg-slate-300' : 'bg-transparent hover:bg-white '"
    (click)="click.emit()"
>
    <div class="hidden group-hover:block opacity-60">
        <button 
            class="absolute h-full right-4 top-0"
        ><mat-icon>delete</mat-icon></button>
    </div>
    <div class="flex w-full items-center">
        <div *ngIf="!showSelectButton" class="w-[30px] h-[30px] p-2 rounded-full flex group-hover:hidden mr-2 justify-center items-center text-sm font-bold"
            [ngStyle]="{'background-color': color}"
        >
            <span class="opacity-80">{{email.authorId.split(" ")[0][0] + email.authorId.split(" ")[1][0]}}</span>
        </div>

        <button 
            (click)="toggleSelection()"
            class="w-[30px] h-[30px] p-1 mr-2 justify-center items-center group-hover:flex"
            [ngClass]="[
                showSelectButton? 'flex' : 'hidden',
                isSelected? 'opacity-100' : 'opacity-40'
            ]"
        ><mat-icon >check_circle_outline</mat-icon></button>

        <div class="flex flex-col w-full">
            <div class="w-full flex justify-between">
                <h2 class="">{{email.authorId}}</h2>
                <p class="text-xs text-left opacity-80">14/08/23</p>
            </div>
            <h3 class="text-sm whitespace-nowrap overflow-hidden w-[60%] text-ellipsis ">{{email.subject}}</h3>
        </div>
   </div>
    <p class="mt-2 text-sm opacity-70  whitespace-nowrap overflow-hidden w-full text-ellipsis ">{{email.content}}</p>
</div>