<div class="flex flex-col w-full h-full overflow-auto">
    <app-top-bar></app-top-bar>

    <app-toolbar>
        <button class="bg-indigo-600 text-white rounded-md px-4 py-1">New email</button>
        <div class="flex opacity-30 pointer-events-none">
            <button class="ml-4 border rounded-md p-1 flex items-center hover:border-gray-400 hover:bg-gray-200"><mat-icon>delete</mat-icon></button>
            <button class="ml-1 border rounded-md p-1 flex items-center hover:border-gray-400 hover:bg-gray-200"><mat-icon>archive</mat-icon></button>
            <button class="ml-1 border rounded-md p-1 flex items-center hover:border-gray-400 hover:bg-gray-200"><mat-icon>warning</mat-icon></button>
            <button class="ml-1 border rounded-md p-1 flex items-center hover:border-gray-400 hover:bg-gray-200"><mat-icon>save</mat-icon></button>
        </div>
    </app-toolbar>

    <div class="flex w-full h-full overflow-hidden ">
        <app-sidebar></app-sidebar>
        <app-email-list [emails]="emails"></app-email-list>
        <div class="flex w-full h-full justify-center items-center overflow-hidden">
            <div class="flex flex-col items-center opacity-70">
                <span class="font-bold">Select an element to read it</span>
                <span class="text-sm">There is nothing selected</span>
            </div>
        </div>
    </div>

</div>
<router-outlet></router-outlet>
