<div class="flex flex-col w-full h-full overflow-auto">
    <app-top-bar></app-top-bar>

    <app-toolbar></app-toolbar>

    <div class="flex w-full h-full overflow-hidden ">
        <app-sidebar></app-sidebar>
        <app-email-list [emails]="emails"></app-email-list>
        <div class="flex w-full h-full justify-center items-center overflow-hidden">
            <div class="flex flex-col items-center opacity-70">
                <span class="font-bold">Select an element to read it</span>
                <span class="text-sm">There is nothing selected</span>
            </div>
        </div>
    </div>

</div>
<router-outlet></router-outlet>
